body {
  background-image: url('static/img/landing-background.png');
  color: white;
  text-align: center;
}

.main-div {
  padding: 30px;
}

.center {
  display: grid;
  place-items: center;
  height: 40vh;
  margin-top: 10%;
}

.company-name {
  font-weight: 700;
}

.footer {
  color: black;
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);

  /* position: relative; */
}

/* .footer-child {
  position: absolute;
  bottom: 0;

} */

a { color: inherit; } 

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}


.footer-child > a {
  padding: 5px
}